h1,
h3 {
  font-family: 'Poppins', 'sans-serif';
  color: #ec2431;
  text-align: center;
  font-weight: normal;
  margin: 0px;
}

/* furigana */
h3 {
  margin-bottom: -15px;
}

.textinput {
  margin: 0 auto;
  width: 100%;
}

form {
  margin: 0 auto;
  width: 80%;
}

.login {
  margin-top: 10%;
  color: #d6d4d2;
  width: 100%;
}

.submit-button {
  float: right;
}
